:root {
    --secondary-color: #49b9a6;
    --text-primary-color: #ccd6f6;
    --background-color: #0b192f;
}

.secondary-color {
    color: var(--secondary-color);
}

body {
    background-image: url("/assets/ffflux.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    margin: 0;
    color: var(--text-primary-color);
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main {
    margin: 20%;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.socials-item img {
    width: 50px;
}

main h1 {
    margin: 0;
}

.links {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.links a {
    color: var(--text-primary-color);
    text-decoration: none;
    position: relative;
}

.links-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    border-radius: 20px;
    background-color: var(--secondary-color);
    transition: transform 0.3s ease-out;
}

.links-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.text-container {
    font-size: 1.8rem;
}

#typewriter {
    min-height: 1.5em;
}

.btn-container button {
    background-color: var(--text-secondary-color);
    color: #fff;
    border: none;
    padding: 16px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.btn-container button:hover {
    background-color: var(--text-primary-color);
    color: #000;
}