:root {
    --secondary-color: #49b9a6;
    --text-primary-color: #ccd6f6;
    --text-secondary-color: #8892b0;
    --background-color: #0b192f;
}

.secondary-color {
    color: var(--secondary-color);
}

.text-secondary {
    color: var(--text-secondary-color);
}

body {
    background-color: var(--background-color);
    max-height: 100vh;
    margin: 0;
    color: var(--text-primary-color);
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 
    "header header"
    "nav main";
    position: relative;
    overflow: hidden;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

main {
    grid-area: main;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 128px; 
}

.socials-item img {
    width: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    margin: 0;
}

.links {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.links a {
    color: var(--text-primary-color);
    text-decoration: none;
    position: relative;
}

.links-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
}

.links-item:hover::after {
    width: 100%;
}

.text-container {
    margin-top: -6%;
    font-size: 1.8rem;
}

#typewriter {
    min-height: 1.5em;
}